{
  "arrowParens": "avoid",
  "printWidth": 120,
  "trailingComma": "es5",
  "useTabs": false,
  "quoteProps": "preserve",
  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "printWidth": 80
      }
    }
  ],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@.*$", "node:.*", "^[./]"],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
